*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
section:nth-child(even){
    justify-content: flex-end;
}

section .imgBx{
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}
section .imgBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(1);
}
section:nth-child(even) .imgBx::before{
    transform-origin: left;
}

section .imgBx.active::before{
    transform: scaleX(0);
}
section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}












